.movieImg{
    margin-top: 10px;
    height: 70%;
    position: relative;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;
}
.movieImg:hover{
    z-index: -5;
}

.titleAndYearContainer{
    margin-top: 0;
    margin-bottom: 5%;
}
.loading{
    margin-top: 10%;
}
.paperShadow{
    border-width: 0 !important;
    background-color: #e6ee9c !important;
    z-index: 0;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}
.moreInfo::clicked{
    z-index: 55;
    background-color: blue;
    justify-items: first baseline;
}

.paperShadow:hover{
    background-color: #90caf9;
    box-shadow: -3px 12px 24px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: -3px 12px 24px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -3px 12px 24px -13px rgba(0,0,0,0.75);
    cursor: pointer;
    background-color: #dae671 !important;
    
      
}
.paperShadow{
    border-radius: 5% !important;
}
  


  .fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}